<!DOCTYPE html>

<html lang="{{ .Lang }}" itemscope itemtype="http://schema.org/WebPage">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body>
    {{ block "header" . }}{{ partial "header.html" . }}{{ end }}
    {{ block "main" . }}{{ end }}
    
   <script type="text/javascript">
document.addEventListener("DOMContentLoaded", function() {
    // IntersectionObserver callback
    const handleIntersection = (entries) => {
        const footerVisible = entries.some(entry => entry.isIntersecting);
        if (!footerVisible) {
            // The footer is not visible, meaning the page content has changed
            const newHeight = document.body.clientHeight;
            window.parent.postMessage({ frameHeight: newHeight }, '*');
        }
    };

    // Create an IntersectionObserver
    const observer = new IntersectionObserver(handleIntersection);

    // Start observing the footer element
    const footer = document.querySelector('#blog-footer');
    if (footer) {
        observer.observe(footer);
    }

    // Also send the initial height
    window.parent.postMessage({ frameHeight: document.body.clientHeight }, '*');
});
</script>


  </body>
</html>
