<!DOCTYPE html>
<html lang="{{ .Lang }}" itemscope itemtype="http://schema.org/WebPage">
  <head>
    {{ partial "head.html" . }}

  </head>
  <body>
    {{ block "header" . }}{{ partial "header.html" . }}{{ end }}
    {{ block "main" . }}{{ end }}
    
    <script src="/node_modules/iframe-resizer/js/iframeResizer.contentWindow.min.js"></script>
    <script>
      // your script here
      const postLink = document.querySelectorAll(".post-link");

      postLink.forEach((link) => {
        link.addEventListener("click", function (event) {
          event.preventDefault();
          // Send a post message to the parent
          window.parent.postMessage({ newRoute: this.getAttribute("href") }, "*");
        });
      });
    </script>

  </body>
</html>
