{{ define "main" }}
<div class="container" role="main">
  <div class="row">
    <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 ">
      <div class="card-image card-image-blog p-0">
        {{ if .Params.image }}
        <img src="{{ .Params.image }}" alt="{{ .Title }}" class="card-img-bottom img-fluid">
        {{ end }}
        {{ if .Params.video }}
        <video loop autoplay muted playsinline class="img-title">
          <source src="{{ .Params.video }}">
        </video>
        {{ end }}
      </div>
    </div>
    <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 pt-4">
      <article role="main" class="blog-post">
        {{ .Content }}
      </article>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
      <hr />
    </div>
    <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 pt-2">
      {{ if .Params.tags }}
      <div class="blog-tags">
        {{ range .Params.tags }}
        <a href="{{ $.Site.LanguagePrefix | absURL }}/tags/{{ . | urlize }}/">{{ . }}</a>
        {{ end }}
      </div>
      {{ end }}
    </div>
    <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 pt-4">
      {{ if $.Param "socialShare" }}
      <section id="social-share">
        <div class="list-inline footer-links">
          {{ partial "share-links" . }}
        </div>
      </section>
      {{ end }}
    </div>
    <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 mt-3">
      <div class="card">
        <div class="row no-gutters">
          <div class="col-md-2 ">
            <div class="card-body ">
              <p class="p-0 m-0"><small class="text-muted "></small></p>
              <img src="{{ "/img/logo.png" }}" class="img-responsive img-50" alt="">
            </div>
          </div>
          <div class="col-md-10">
            <div>
              <h5>
                {{ if not .Site.Params.hideAuthor }}
                {{ if .Params.author }}
                {{ .Params.author | safeHTML }}
                {{ else }}
                {{ .Site.Author.name | safeHTML }}
                {{ end }}
                {{ end }}
              </h5>
              <p class="card-text fs-1"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 pt-4">
    {{ if ne .Type "page" }}
    <ul class="list-group list-group-horizontal" style="flex-direction: row">
      {{ if .PrevInSection }}
      <li class="list-group-item b-0">
        <a type="button" class="btn btn-dark" role="button" href="{{ .PrevInSection.Permalink }}"
          data-toggle="tooltip" data-placement="top" title="{{ .PrevInSection.Title }}"
          onclick="parent.postMessage({ scrollReactAppToTop: true }, '*');">&larr;
          {{ i18n "previousPost" }}</a>
      </li>
      {{ end }}
      {{ if .NextInSection }}
      <li class="list-group-item ms-auto b-0">
        <a type="button" class="btn btn-dark" role="button" href="{{ .NextInSection.Permalink }}"
          data-toggle="tooltip" data-placement="top" title="{{ .NextInSection.Title }}"
          onclick="parent.postMessage({ scrollReactAppToTop: true }, '*');">{{ i18n "nextPost" }}
          &rarr;</a>
      </li>
      {{ end }}
    </ul>
    {{ end }}
  </div>
  <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 pt-4">
  </div>
</div>
</div>
<footer id="blog-footer"></footer>
<!-- At the bottom of your common footer file or other file included in every page -->

<script>
  // This code will run on your Hugo site, not in your React app.
window.addEventListener('load', function() {
  const currentUrl = window.location.href;

  // Send a message to the parent window with the current URL
  window.parent.postMessage(currentUrl, '*');
});

window.onhashchange = function() {
  const currentUrl = window.location.href;

  // Send a message to the parent window with the current URL
  window.parent.postMessage(currentUrl, '*');
};

</script>

</div>
{{ end }}
