{{ define "main" }}

<div class="container" role="main">
  <div class="row justify-content-md-center">
    {{ with .Content }}
    <div class="well">
      {{.}}
    </div>
    {{ end }}

    {{ range .Paginator.Pages }}
    <div class="col-md-12">
      <h2>
        <a href="/blog/{{ .Params.slug }}" target="_parent" onclick="changeParentURL('/blog/{{ .Params.slug }}'); return true;">
          {{ .Title }}
        </a>
      </h2>
      <!-- Add other post details here if needed -->
    </div>
    {{ end }}

  </div>
</div>

<div class="container">
  <div class="row font-sans">
    <div class="col-md-12 mt-10">
      <nav aria-label="Page navigation">
        <ul class="pagination justify-content-end">
          {{ template "_internal/pagination.html" . }}
        </ul>
      </nav>
    </div>
  </div>
</div>

<script>
  function changeParentURL(url) {
    // Use the HTML5 History API to change the URL in the parent window
    if (window.parent && window.parent.history && window.parent.history.pushState) {
      window.parent.history.pushState({}, '', url);
    }
  }
</script>

{{ end }}
