{{ define "main" }}

<div class="intro-header no-img">
</div>

<div class="container" role="main">
  <div class="row">
    {{ with .Content }}
    <div class="well">
      {{.}}
    </div>
    {{ end }}


    {{ $pag := .Paginate (where site.RegularPages "Type" "in" site.Params.mainSections ) 9 }}
    {{ range $pag.Pages }}
    {{ partial "post_preview" . }}
    {{ end }}

    <!-- Script start -->
    {{ if .IsPage }}
    <script>
    window.onload = function() {
      // Get the current page's pathname and send to parent window
      var currentPathname = window.location.pathname;
      window.parent.postMessage({ pagePath: currentPathname }, '*');
    };
    </script>
    {{ end }}
    <!-- Script end -->

  </div>
</div>

<div class="container">
  <div class="row font-sans">
    <div class="col-md-12 mt-10">
      <nav aria-label="Page navigation">
        <div class="pagination justify-content-end">
          {{ template "_internal/pagination.html" . }}
        </div>
      </nav>
    </div>
  </div>
</div>

{{ end }}
